/* Estilos para el logo */
.logo {
    max-width: 100px;
    height: auto;
}

/* Estilos para el header */
.header {
    background-color: #03102C;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Estilos para el botón de cerrar sesión */
.cerrar-sesion {
    background-color: #A90429;
    color: white;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
}

.login {
    text-align: center;
    justify-content: center;
}

.horario {
    size: 10vh;
}