/* Estilos para el logo */
.logo {
    max-width: 100px;
    height: auto;
}

/* Estilos para el header */
.header {
    background-color: #03102C;
    color: white;
    padding: 10px;
    text-align: center;
}

/* Estilos para el botón de cerrar sesión */
.cerrar-sesion {
    background-color: #A90429;
    color: white;
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
}

.paginaSecretario {
    background-color: #A90429;
    color: white;
    border: none;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
    margin: 20px;
}

.paginaSecretarioDerecha {
    background-color: #A90429;
    color: white;
    border: none;
    padding: 15px 5px;
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
}

.login {
    text-align: center;
    justify-content: center;
}

.horario {
    size: 10vh;
}

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    right: 0;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
  }
  
  .modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
  }
  
  .modal.right .modal-body {
    padding: 15px 15px 80px;
  }
        
  /*Right*/
  .modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
  }
  
  .modal.right.fade.show .modal-dialog {
    right: 0;
  }
  